<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="FileAidDBConnectionString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=FileAidDB;Integrated Security=True;Pooling=False;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="FileAid.Properties.Settings.Setting" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=FileAidDB;AttachDbFilename=|DataDirectory|\Data\FileAidDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>